*{
    margin: 0;
    padding: 0;
    font-family: 'Kalam', cursive ;

}

header{
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../gambar/dak.jpg);
        height: 100vh;
        background-size: cover;
        background-position: center;
        position: sticky;
}
    
ul{ 
    float: left;
    list-style-type: none;
    margin-top: 50px;
    
}

ul li {
        display: inline-block; 
}

ul li a {
            text-decoration: none;
            color: rgb(20, 169, 214);
            padding: 5px 25px;
            margin-left: 15px;
            border : 1px solid rgb(20, 169, 214);
            transition: 0.6s ease;
}

ul li a:hover{
                background-color:rgb(51, 147, 202);
                color : #000;           
}

ul li.active a{
	background-color:rgb(51, 147, 202);
	color : #000;
}


.main{
        max-width: 1200px;
        margin: auto;

}

.title{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title h1{
    color: rgb(20, 169, 214);
    font-size: 40px;

}

.mee{
	position: absolute;
	top: 18%;
	left: 40%;
	background-color: rgba(165, 227, 247, 0.774);
	padding: 5px;
}

.profile{
	position: absolute;
	top: 40%;
	left: 15%;
	background-color:rgba(165, 227, 247, 0.774);
    padding: 5px;
	
}

.foto img{
	position: absolute;
	top: 1%;
	left: 105%;
	width: 300px;
	height: 350px;
	
}

.study{
	position: absolute;
	top: 60%;
	left: 65% ;
	background-color: rgba(165, 227, 247, 0.774);
	padding: 5px;

}

.key{
	position: absolute;
	top: 63%; 
	left: 39%;
	background-color: rgba(165, 227, 247, 0.774);
	padding: 5px;
	
}
.call{
	position: absolute;
	top: 35%;
	left: 42%;
	transform: translate(-50, -50);
	background-color:  rgba(165, 227, 247, 0.774);
	
}
.gambar img{
	position: absolute;
	top: 31%;
	left: 44%;
	width: 170px;
	height: 190px;
	background-color: rgba(165, 227, 247, 0.774);
	padding: 5px;
}



@media screen and (max-width:900px){

	.mee{
		position: absolute;
		top: 20%;
		left: 10%;
		background-color: rgba(165, 227, 247, 0.774);
		min-width: 80%;
	}		
	.profile{
		position: absolute;
		top: 35%;
		left: 10%;
		background-color: rgba(165, 227, 247, 0.774);
		min-width: 80%;
		
	}
	.study{
		position: absolute;
		top: 94%;
		min-width: 80%;
		min-height: 5%;
		background-color: rgba(165, 227, 274, 0.774);
		left: 10%;
	}
	.call{
		position: absolute;
		top: 35%;
		left: 28%;
		transform: translate(-50, -50);
		background-color:  rgba(165, 227, 247, 0.774);
		
	}
	.key{
		position: absolute;
		top: 62%; 
		left: 18%;
		background-color: rgba(165, 227, 247, 0.774);
		
	}
	.foto img{
		position: absolute;
		top: 1%;
		left: 73%;
		width: 100px;
		height: 100px;
	}
	.gambar img{
		position: absolute;
		top: 30%;
		left: 32%;
		width: 170px;
		height: 190px;
		background-color: rgba(165, 227, 247, 0.774);
		padding: 5px;
	}
	ul li a {
		text-decoration: none;
		color: rgb(20, 169, 214);
		padding: 5px 10px;
		margin-left: 10px;
		border : 1px solid rgb(20, 169, 214);
		transition: 0.6s ease;
}
}



